.control-bar-container {
    width: 100%;
    height: 6rem;
    font-size: 1.6rem;
    z-index: 999;
}

.control-bar-container-title {
    font-size: 2rem;
    margin-right: 2rem;
}

.control-bar-button {
    text-decoration-color: white;
    margin-right: 2rem;
}

@media only screen and (max-width: 991px) {
    .control-bar-container {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
    }
}